calcService/myWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="null.wsdl" xmlns:xsd1="null.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="null.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="null.xsd" xmlns:sch="null.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="prod"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="x" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="y" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="prodResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="avg"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="1" name="array" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="avgResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="sum"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="x" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="y" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="sumResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="close"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="Numbers">
    <wsdl:part name="body" element="xsd1:avg"/>
  </wsdl:message>
  <wsdl:message name="Int">
    <wsdl:part name="body" element="xsd1:close"/>
  </wsdl:message>
  <wsdl:message name="SumRequest">
    <wsdl:part name="body" element="xsd1:sum"/>
  </wsdl:message>
  <wsdl:portType name="MyInput">
    <wsdl:operation name="prod">
      <wsdl:input message="tns:SumRequest"/>
      <wsdl:output message="tns:Int"/>
    </wsdl:operation>
    <wsdl:operation name="avg">
      <wsdl:input message="tns:Numbers"/>
      <wsdl:output message="tns:Int"/>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <wsdl:input message="tns:SumRequest"/>
      <wsdl:output message="tns:Int"/>
    </wsdl:operation>
    <wsdl:operation name="close">
      <wsdl:input message="tns:Int"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyInputSOAPBinding" type="tns:MyInput">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="prod">
      <soap:operation soapAction="prod" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="avg">
      <soap:operation soapAction="avg" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <soap:operation soapAction="sum" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="close">
      <soap:operation soapAction="close" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyInputService">
    <wsdl:port name="MyInputServicePort" binding="tns:MyInputSOAPBinding">
      <soap:address location="http://localhost:8000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
